/*
Forms

Styleguide 2
*/

/*
Input fields

Markup:
<input type="text" class="form-control" value="input[type='text']">

Styleguide 2.1
*/
.form-control {
  .form-control;
  border: 1px solid @input-field-border-color;
  border-radius: 3px;
  padding: 28px 22px;
  color: @gray-medium;
}
