/vendor/
/docs/
/tests/codeception/_log
/node_modules/

nbproject
.DS_Store
*.swp
.vagrant
/components
/bower_components
www/graphs
.idea/workspace.xml
test-php.pid
tests/codeception/acceptance.suite.yml
codeception.yml
tests/vendor
tests/codeception/*.yml
tests/codeception/_data
db/*.sql
db/user-generated-media

app/config/envbootstrap/local/envbootstrap.php
tests/selenium-*
www/js
db/migration-base/user-generated/schema.sql
db/migration-base/user-generated/data.sql
db/migration-base/user-generated/media

tests/codeception/acceptance-init/WebGuy.php
tests/codeception/acceptance/WebGuy.php
tests/codeception/api/ApiGuy.php
tests/codeception/functional/TestGuy.php
tests/codeception/unit/CodeGuy.php

app/js/config.js
/build
testing
tmp
