/vendor/
/docs/
/tests/codeception/_log
/node_modules/

nbproject
.DS_Store
*.swp
.vagrant
/components
/bower_components
www/graphs
.idea/workspace.xml
test-php.pid
codeception.yml
tests/vendor
tests/codeception/*.yml
tests/codeception/_data
db/*.sql
db/user-generated-media

app/config/envbootstrap/local/envbootstrap.php
tests/selenium-*