.item-controller {
  .alerts {
    .make-row();

    .alerts-content {
      .make-md-column(12);
    }
  }

  .item-header {
    .make-row();
    margin-bottom: 10px;
    margin-top: 10px;

    .header-text {
      .make-md-column(8);

      .header-title {
        margin: 0;
      }

      .header-icon,
      .header-version,
      .header-status {
        .hint-tooltip;
        font-size: 20px;
      }
    }

    .header-actions {
      .make-md-column(4);
      text-align: right;
    }
  }

  .item-content {
    .make-row();
  }

  .item-progress {
    .make-md-column(3);

    .progress-item {
      .make-row();

      .item-bar {
        .make-md-column(6);
      }

      .item-action {
        .make-md-column(6);

        .btn {
          padding: 0 4px;
          text-align: left;
        }
      }
    }
  }

  .item-form {
    .make-md-column(9);

    .form-title {
      margin-top: 0;
    }
  }

  .file-field-2cols {
    .make-row();

    .field-column {
      &:first-child {
        .make-md-column(9);
      }

      &:nth-child(2) {
        .make-md-column(3);
      }
    }
  }

  .file-field-3cols {
    .make-row();

    .field-column {
      &:first-child {
        .make-md-column(8);
      }

      &:nth-child(2) {
        .make-md-column(2);
      }

      &:nth-child(3) {
        .make-md-column(2);
      }
    }
  }

  &.browse-action {
    .browsebar {
      .browsebar-actions {
        .btn-toolbar;
      }
    }

    .item-content {
      .make-row();
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .item-thumb {
      .make-md-column(3);

      .no-thumb {
        .alert;
        .alert-info;
      }
    }

    .item-actions {
      .make-md-column(9);

      .action-buttons {
        .btn-toolbar;
        margin: -5px 0 0 -5px;

        .btn-group {
          margin: 5px 0 0 5px;
        }
      }
    }
  }

  &.edit-action {
  }

  &.translationoverview-action {
    .language-content {
      .make-row();
    }

    .language-actions {
      .make-md-column(4);

      .btn {
        padding: 0 4px;
        text-align: left;
      }
    }

    .language-progress {
      .make-md-column(8);
    }
  }
}