.mejs-captions-layer{
  font-size: 13px;
  line-height: 16px;

  @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
    font-size : 20px;
    line-height: 25px;
  }

  @media (min-width: @screen-lg-min) {
    font-size: 35px;
    line-height: 40px;
  }
}
