.section-wide {
  padding: 40px;

  h2 {
    margin-top: 0;
  }

  .splash {
    text-align: center;

    h2 {
      font-size: 39px;
      font-weight: 300;
      margin-bottom: 40px;
    }

    .cta {
      border-radius: 10px;
      font-size: 27px;
      padding: 7px 80px;
    }
  }
}

.section-wide-primary {
  .section-wide;
  background-color: #fff;

  & + & {
    padding-top: 0;
  }
}

.section-wide-secondary {
  .section-wide;
  background-color: @gray-light;

  & + & {
    padding-top: 0;
  }
}