# Rename this file to .htaccess to enable mod_rewrite if Yii uses urlFormat: path

allow from all

#Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

<IfModule mod_php5.c>

  php_value upload_max_filesize "200M"

  # For Xdebug pretty var_dump display
  php_flag xdebug.default_enable On
  php_flag html_errors On

</IfModule>
