.profile-language-fields {
  .required-red {
    span.required {
      color: @red;
    }
  }
}

.profile-bar {
  background-color: @white;
  position: fixed;
  top: 24px;
  z-index: 20;
}

.account-profile-grid {
  margin-top: 100px;
  z-index: 10;

  .alert {
    margin: 20px 0 10px;
  }
}
