.flowbar {
  position: fixed;
  z-index: 10;
  background-color: #fff;
  top: 25px;

  .required-counts {
    margin: 20px 0;

    .missing {
      color: @red;
      font-size: 16px;

      em {
        font-style: normal;
      }
    }
  }
}

.below-flowbar {
  margin-top: 145px;
}
