.navbar {
  .brand {
    font-size: 14px;
    text-transform: uppercase;
  }

  .language-menu {
    .dropdown-menu {
      height: 495px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 4px;
        -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      }
    }
  }
}
