.layout-main {
  body {
    // make room for the navbar
    padding-top: @navbar-height + @navbar-margin-bottom + 10px;
  }

  // navbar customizations
  .navbar {
    .language-menu {
      .dropdown-menu {
        height: 495px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          -webkit-appearance: none;
          width: 7px;
        }

        &::-webkit-scrollbar-thumb {
          -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
          background-color: rgba(0,0,0,.5);
          border-radius: 4px;
        }
      }
    }
  }

  .breadcrumbs {
    .make-md-column(12);
    font-size: 13px;
    line-height: 1;
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;

      &:after {
        margin: 0 10px;
        content: '\003e';
      }

      &:last-child {
        &:after {
          content: none;
          margin: 0;
        }
      }
    }
  }
}