/* Wider higher for modals */

.modal-body
{
/*	max-height:80%;*/
}
.modal
{
/*	height:80%;*/
	width:70%;
	margin-left: -35%;
}
@media (max-width: 768px) {
	.modal
	{
		width:90%;
        margin-left: 2%;
	}
}

/* Breadcrumb margin fix */
.container-fluid .breadcrumb {
	margin-top: 10px!important;
}